backend/node_modules
backend/.env
frontend/node_modules
frontend/.env
shared/node_modules
shared/.env
frontend/dist
backend/dist
shared/dist
.env
microservices/api-gateway/dist
microservices/employee-service/dist
microservices/auth-service/dist
microservices/api-gateway/node_modules
microservices/employee-service/node_modules
microservices/auth-service/node_modules
microservices/api-gateway/.env
microservices/employee-service/.env
microservices/auth-service/.env
rag/myenv
rag/.ipynb_checkpoints


# AI
AI/.pytest_cache
AI/app/__pycache__
AI/checkpoint
AI/src/__pycache__
AI/venv
AI/.env
AI/test/__pycache__

# Microservices
microservices/leave-service/node_modules
microservices/leave-service/dist
microservices/leave-service/.env

